
html,body {
    margin: 0; 
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(/images/code6.jpg);
    background-position: center right;
    background-attachment: fixed;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-size:cover;
    background-position: center right;
    min-height: 200px;
    margin-right: 0;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    
}
header>h1 {
    margin-top: 0;
    padding-top: 60px;
    font-size: 40px;
    color: black;
   
}

figure > figcaption {
    font-size: 20px;
    text-align: center;
}

figure > img {
    width: 330px;
    height: 200px;
    align-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;

} 

#main-footer {
    background: #333;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    padding: 20px;
}
@media (min-width: 424px) {
    header {
        min-height: 300px;
    }

    header>h1 {
        padding-top: 60px;
        font-size: 80px;
        color: #ffffff;
    }

    figure > figcaption {
        font-size: 40px;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    } 
}
